/* :root {
  --color-primary: #ffffff;
  --color-bg: #343d4b;
  --color-primary-inverted: #000000;
  --color-bg-card: #272e37;
  --color-bg-main: #222831;
  --font: "Montserrat", sans-serif;
  --gradient: linear-gradient(
    90.8deg,
    rgba(144, 217, 224, 0.9) 0.2%,
    rgba(84, 96, 230, 0.9) 100%
  );
  --gradient-inverted: linear-gradient(
    256.33deg,
    rgba(144, 217, 224, 0.9) 9.04%,
    rgba(84, 96, 230, 0.9) 92.2%
  );
}
body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-family: var(--font);
  display: grid;
  place-items: center;
  min-height: 100vh;
} */

:root {
  --font: "Roboto", sans-serif;
  --color: #fff;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
